/* Initial CSS Boilerplate */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* set rem size to 10px */
	font-size: 62.5%;
}

body {
	color: #cee3e9;
	font-family: "Manrope", sans-serif;
	font-size: 2.8rem;
	font-weight: 800;
	text-align: center;
	line-height: 3.8rem;
	height: 100vh;
	background-color: #202733;
}

/* ELEMENT SELECTORS */
main {
	position: relative;
	max-width: 54rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;

	background-color: #313a48;
	border-radius: 1.5rem;
	box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);

	padding: 4.8rem;
}
h1 {
	color: #53ffaa;

	font-weight: 800;
	font-size: 1.3rem;
	line-height: 1.8rem;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

/* CLASS SELECTORS */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}
.divider {
	/* margin-top: 1rem; */
	margin-bottom: 0.8rem;
}
.btn-get-quote {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	background-color: #53ffaa;

	height: 6.4rem;
	width: 6.4rem;
	border-radius: 50%;

	bottom: 0;
	left: 50%;
	transform: translateY(50%) translateX(-50%);
}

.btn-get-quote:hover,
.btn-get-quote:active {
	border: none;
	cursor: pointer;
	background: #53ffaa;
	box-shadow: 0px 0px 40px #53ffaa;
}

.img-dice-icon {
	width: 2.4rem;
	height: 2.4rem;
}
.hidden {
	display: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* MOBILE SUPPORT */
@media (max-width: 47em) {
	main {
		max-width: 34.3rem;
	}
	.img-divider {
		content: url("../images/pattern-divider-mobile.svg");
	}
}

@media (min-width: 47em) {
	.img-divider {
		content: url("../images/pattern-divider-desktop.svg");
	}
}
